{% extends 'base.html' %}

{% block content %}
    <div class="vh-100 d-flex justify-content-center align-items-center p-5" id="send-code-content">
        <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
            <h2 class="text-center mb-4 text-primary">Send Verification Code</h2>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control border border-primary" id="email"
                           name="email" placeholder="Enter Email Address">
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control border border-primary" id="phone_number"
                           name="phone_number" placeholder="Enter Phone Number">
                </div>
                <div class="mb-3">
                    <label for="contact_method" class="form-label">Contact Method</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="contact_method" id="email_option" value="email" required>
                        <label class="form-check-label" for="email_option">Email</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="contact_method" id="sms_option" value="sms" required>
                        <label class="form-check-label" for="sms_option">SMS</label>
                    </div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Send Code</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}



