<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Email Sent</title>
</head>
<body>
    <h1>Verification Email Sent</h1>
    <p>A verification email has been sent to your address: {{ email }}</p>
    <p>Please check your inbox and click on the verification link to confirm your account.</p>

    <p>If you don't see the email in your inbox, check your spam folder.</p>
</body>
</html>
