{% extends 'base.html' %}

{% block content %}
    <div class="vh-100 d-flex justify-content-center align-items-center p-5" id="verify-code-content">
        <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
            <h2 class="text-center mb-4 text-primary">Verify Code</h2>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{% url 'accounts:verify_code' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="code" class="form-label">Verification Code</label>
                    <input type="text" class="form-control border border-primary" id="code"
                           name="code" placeholder="Enter Verification Code" required>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Verify</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


